.categories__card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 80px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

/* 
.categories__card:last-child {
  border-right: none;
} */

.categories__card > span {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  margin-top: 8px;
}

.categories__card .cities__count {
  font-weight: 700;
  font-size: 10px;
}